.random-generator {
  width: 100%;
  overflow-x: hidden;

  > * {
    font-family: var(--primary-font);
  }

  button {
    width: 40vw;
    height: 40vw;
    margin: 20px 0;

    position: absolute;
    top: 20vh;
    left: 30vw;
    z-index: 1;
    
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    
    border-radius: 100%;
    border: none;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 10px 0px black;
    outline: none;

    p {
      font-size: 8px;
      font-style: italic;
      color: black;
      font-weight: 300;
    }
  }
}