.location-details {
  margin: 0 auto;
  background-color: #fffffd;
  padding: 5px 10px;
  box-shadow: 0px 5px 20px 3px rgb(239, 220, 179);
  border-radius: 0px 0px 20px 20px;
  font-family: var(--secondary-font);

  .icons, .contact, .links {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  .icons {
    justify-content: space-around;

    p {
      margin: 0;
    }
  }

  .links {
    justify-content: space-around;
    margin: 20px;
    
    > * {
      text-decoration: none;
      color: black;
      font-family: var(--secondary-font);
      // font-weight: lighter;
    }
  }

  .contact {
    justify-content: space-between;
    margin: 0 10px;

    text-align: left;
    font-weight: lighter;
    color: grey;
    font-size: 14px;
  }

  p:first-of-type {
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 20px;
  }

  ul {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
    align-items: center;
    list-style: none;

    li {
      flex-basis: 25vw;

      img {
        width: 100%;
        height: auto;
        max-height: 125px;

        box-shadow: 0px 6px 10px 5px #cfcfcf;
        border-radius: 8px;
      }
    }
  }
}
